h1{
	color: #fff;
	background-color: #F11560;
	width:500px;
	height:50;
	padding:20px;
	border:5px solid #fff;
	text-align: center;

}

body{
	background-color:black;
	padding:30px;
}

a{
	background-color:#F11560 ;
}

p{
	color: #fff;
	width: 500px;
	height: 200px;
	margin-bottom:30px;
	margin- left:25px;
	margin-right:40px;
	margin-top: 20px;
	padding:20px;
	border: 5px solid #FFF;
	background-color: #F11560;
	display:inline-block;
	

}
 

