*{
	margin: 0;
	padding: 0;
}
body {
 margin: 0 auto;
 width: 90%;
 border: 4px solid;

} 


header{

	border: 4px solid #ff0000;

}

nav {

	border: 4px solid #ff6f00;

}

section {

	border: 4px solid #f90af9;
}

article{

	border: 4px solid #f1f90a;
}

aside {

	border: 4px solid #1c03ff;

}


footer {

	border: 4px solid #03ff1c;
}

img{
	border: 5px solid aquamarine;
}